{% extends 'base.html' %}

{% block title %}Register a new account{% endblock title %}

{% block content %}
    <div>
        <h1>Register</h1>
        <form action="{% url 'user:register' %}" method="post">
            {% csrf_token %}
            <div>{{ user_form.username.label_tag }}</div>
            <div>{{ user_form.username }}</div>
            <div>{{ user_form.first_name.label_tag }}</div>
            <div>{{ user_form.first_name }}</div>
            <div>{{ user_form.email.label_tag }}</div>
            <div>{{ user_form.email }}</div>
            <div>{{ user_form.password.label_tag }}</div>
            <div>{{ user_form.password }}</div>
            <div>{{ user_form.password2.label_tag }}</div>
            <div>{{ user_form.password2 }}</div>
            <h2>Address details</h2>
            <div>{{ address_form.street.label_tag }}</div>
            <div>{{ address_form.street }}</div>
            <div><input type="submit" value="Register"></div>
        </form>
    </div>

{% endblock content %}