{% extends 'base.html' %}

{% block title %}MENU{% endblock title %}

{% block content %}
<h1>MENU PAGE</h1>
<div>
    {% if error_message %}
        <div>
            {{error_message}}
        </div>
    {% endif %}
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <form action="{% url 'menu:add' %}" method="post">
        <h3>Customize your pizza</h3>
        {{ pizza_form.as_p }}
        <hr>
        {{ cart_form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Add to cart">
    </form>
</div>
{% endblock content %}