@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
  transition: color 0.2s ease;

  &:hover {
    color: wheat;
  }
}

input {
  display: block;
}

@import "variable";

@import "layout/header", "layout/footer";

@import "page/home", "page/menu";

.container {
  margin: 65px auto 0;
  max-width: 1200px;
  min-height: calc(100vh - 65px - 40px);
}
